.option {
    background-color: #3c0e70;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8s;
    transition: 0.4s;
}

.option:hover{
    opacity: 1;
    background-color: #320b5f;
}

#opitons-container .option p{
    margin-bottom: 0;
}

